.pl-table__cell {
    padding: 0;
}

.pl-table__ref {
    display: block;
    padding: 7px 15px;
    text-decoration: none;
}

.pl-table_l-side {
    min-width: 300px;
}

.pl-table__ref_l-side:visited {
    color: #888888;
}

.pl-table__ref_active {
    color: red;
}