<div class='pl-table-wrapper pl-table-wrapper_full-list'>
    <div class='pl-table-wrapper__header'>
        <span class="ti-marker"></span>
        Lead List
    </div>
    <table class='pl-table-wrapper__pl-table pl-table'>
        <thead class='pl-table__thead'>
            <tr class='pl-table__tr'>
                <th class='pl-table__cell'>
                    Account number
                </th>
                <th class='pl-table__cell'>
                    Name
                </th>
            </tr>
        </thead>
        <tbody class='pl-table__tbody'>
            <tr *ngFor="let lead of clientList"
                (click)="onSelect(lead)" class='pl-table__tr'>
                <td class='pl-table__cell'>{{lead.id}}</td>
                <td class='pl-table__cell'>{{lead.first_name}} {{lead.last_name}}</td>
            </tr>
        </tbody>
    </table>
</div>