.pl-table {
    border-collapse: collapse;
    width: 100%;
}

.pl-table-wrapper__header {
    background: #e9edf2;
    text-align: left;
    color: #444444;
    padding-left: 15px;
    line-height: 40px;
    border-bottom: 1px solid #d7d9de;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 }

 .pl-table-wrapper {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 12px -5px;
 }

 .pl-table__cell {
    color: #888888;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    padding: 7px 15px;
 }

/* убрать специфичность */
  .pl-table__thead .pl-table__cell {
    padding: 9px 15px;
    font-weight: 400;
}

.pl-table__tbody .pl-table__tr:hover {
    background-color: #f0f2ef;
    cursor: pointer;    
 }

 .pl-table__ref {
    display: block;
    padding: 7px 15px;
    text-decoration: none;
    color: #888888;
}