<nav class='nav'>
	<ul class='nav__list nav-list'>
		<li class='nav-list__item'>
			<a routerLink="/home" routerLinkActive="nav-list__ref_active" class='nav-list__ref'>
				<div class='nav-list__icon ti-home'></div>
				<div class='nav-list__ref-text'>Home</div>
			</a>
		</li>
		<li class='nav-list__item'>
			<a routerLink="/clients-registrations" routerLinkActive="nav-list__ref_active"  class='nav-list__ref'>
				<div class='nav-list__icon ti-user'></div>
				<div class='nav-list__ref-text'>Clents Registrations</div>
			</a>
		</li>
	</ul>
</nav>